{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% import 'partials/form_macros.html.twig' as macros %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}

    <div class="row">
        <div class="col-md-6">
            {{ macros.formRow(registrationForm.nom) }}
        </div>
        <div class="col-md-6">
            {{ macros.formRow(registrationForm.prenom) }}
        </div>
    </div>

    {{ macros.formRow(registrationForm.email) }}
    {{ macros.formRow(registrationForm.plainPassword) }}

    <button type="submit" class="btn">Inscrivez-Vous</button>

    {{ form_end(registrationForm) }}
{% endblock %}