{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(registrationForm.nom) }}
        </div>
        <div class="col-md-6">
            {{ form_row(registrationForm.prenom) }}
        </div>
    </div>
    <div class="mb-3">
    {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control' ~ (registrationForm.email.vars.errors|length > 0 ? ' is-invalid' : '') }}) }}
    <div class="invalid-feedback">
        {{ form_errors(registrationForm.email) }}
    </div>
</div>


<div class="mb-3">
    {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}

    {% for error in registrationForm.plainPassword.vars.errors %}
        <div class="text-danger small mt-1">{{ error.message }}</div>
    {% endfor %}
</div>
        <button type="submit" class="btn">Inscrivez-Vous</button>
    {{ form_end(registrationForm) }}
{% endblock %}
