{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% import 'partials/form_macros.html.twig' as macros %}

    <section class="form">
        <h1 class="form-title">Inscription</h1>

        {{ form_start(registrationForm) }}

        <div class="form-grid">
            {{ macros.formRow(registrationForm.nom) }}
            {{ macros.formRow(registrationForm.prenom) }}
        </div>

        {{ macros.formRow(registrationForm.email) }}
        {{ macros.formRow(registrationForm.plainPassword) }}

        <button type="submit" class="btn">Inscrivez-Vous</button>

        {{ form_end(registrationForm) }}

        <div class="connexion-link">
            <p>Déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
        </div>
    </section>
{% endblock %}
