{% extends 'base.html.twig' %}

{% block title %}Définir un nouveau mot de passe{% endblock %}

{% block body %}
{% import 'partials/form_macros.html.twig' as formMacros %}
<section class="form">
    <h1>Changer mon mot de passe</h1>

    {{ form_start(resetForm) }}
    <div class="form-group">
        {{ form_row(resetForm.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_row(resetForm.plainPassword.second) }}
    </div>
    <div class="form-group">
        {{ form_row(resetForm.submit) }}
    </div>
    {{ form_end(resetForm) }}
</section>

{% endblock %}
