{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}
    {% import 'partials/form_macros.html.twig' as macros %}

    
        <div class="form">
            <h1 class="form-title">Changer mon mot de passe</h1>

            {{ form_start(form) }}
             <div class="form-group">
                {{ macros.formRow(form.currentPassword) }}
            </div>
            <div class="form-group">
                {{ macros.formRow(form.newPassword.first) }}
            </div>
            <div class="form-group">
                {{ macros.formRow(form.newPassword.second) }}   
            </div>
        

             <button type="submit" class="btn">Modifier</button>

            {{ form_end(form) }}
        </div>
    
{% endblock %}
