{% extends 'base.html.twig' %}


{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}
{% import 'partials/form_macros.html.twig' as macros %}

<h1>Changer mon mot de passe</h1>

{{ form_start(form) }}

{{ macros.formRow(form.currentPassword) }}
{{ macros.formRow(form.newPassword.first) }}
{{ macros.formRow(form.newPassword.second) }}

<div class="mb-3">
    {{ form_widget(form.submit) }}
</div>

{{ form_end(form) }}

{% endblock %}
