{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}

<h2>Changer mon mot de passe</h2>

{{ form_start(form) }}

 <div class="mb-3">
    {{ form_label(form.currentPassword) }}
    {{ form_widget(form.currentPassword)}}
</div>

<div class="mb-3">
    {{ form_label(form.newPassword.first) }}
    {{ form_widget(form.newPassword.first)}}
</div>

<div class="mb-3">
    {{ form_label(form.newPassword.second) }}
    {{ form_widget(form.newPassword.second) }}
</div>
{{ form_end(form) }}


{% for error in form.vars.errors %}
    <div class="alert alert-danger">
        {{ error.message }}
    </div>
{% endfor %}

{% endblock %}
