{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
  <h2>Mes commandes</h2>

  {% if commandes is not empty %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Total</th>
          <th>Statut</th>
          <th>Adresse de livraison</th>
        </tr>
      </thead>
      <tbody>
        {% for commande in commandes %}
          <tr>
            <td>{{ commande.createdAt|date('d/m/Y H:i') }}</td>
            <td>{{ commande.total }} €</td>
            <td>{{ commande.status }}</td> 
            <td>{{commande.numero}} {{commande.rue}}, {{commande.codePostal}} {{commande.ville}}</td>          
          </tr>
         
        
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Vous n'avez encore passé aucune commande.</p>
  {% endif %}
{% endblock %}
