{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">Modifier mon profil</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.nom) }}</div>
            <div class="col-md-6">{{ form_row(form.prenom) }}</div>
            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.telephone) }}</div>
            <h3> Adresse </h3>
            <div class="col-md-6">{{ form_row(form.numero) }}</div>
            <div class="col-md-6">{{ form_row(form.rue) }}</div>
            <div class="col-md-6">{{ form_row(form.codePostal) }}</div>
            <div class="col-md-6">{{ form_row(form.ville) }}</div>
        </div>
        <div class="mt-4">{{ form_row(form.save) }}</div>
    {{ form_end(form) }}
</div>
{% endblock %}
