{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de commande{% endblock %}

{% block body %}

<div class="panier-container">

    <h1 class="page-title">Récapitulatif de votre commande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Article</th>
                <th>Taille</th>
                <th>Couleur</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in panier %}
                <tr>
                <td><img src="{{ asset('uploads/articles/' ~ ligne.article.image) }}" alt="Image de l'article" class="article-image"></td>
                    <td>{{ ligne.article.titre }}</td>
                    <td>{{ ligne.taille }}</td>
                    <td>{{ ligne.couleur }}</td>
                    <td>{{ ligne.article.prix }} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="total">Total : {{ total }} €</p>

    <section class="form">
        <h2>Adresse de livraison</h2>

        {{ form_start(form) }}
            
            <div class="form-grid">
                {{ form_row(form.numero) }}
            </div>
            <div class="form-grid">
                {{ form_row(form.rue) }}
            </div> 
            <div class="form-grid">
                {{ form_row(form.codePostal) }}
            </div>
            <div class="form-grid">
                {{ form_row(form.ville) }}
            </div>

            <button type="submit" class="btn">
                Valider la commande
            </button>
            {{ form_end(form) }}
    </section>
</div>

{% endblock %}
